<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div>
            {{>header}}
            <p>{{errormsg}}</p>
        </div>
       
        {{>footer}}
        
    </body>
</html>