<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src='/js/app.js'></script>
    </head>
    <body>
        <div class="main-content">
             {{>header}}
        
        <img class='poteraite' src="/img/new.jpg">
        </div>
       
        {{>footer}}
    </body>
</html>